#header {
  background-color: #b71134;
  background-image: -webkit-linear-gradient(top, #a5102f 0%, #b71134 100%);
  background-image: linear-gradient(to bottom, #a5102f 0%, #b71134 100%);
}
a,
.link {
  color: #b71134;
}
a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #ea0909;
}
a:active,
.link:active {
  color: #fe3131;
}

.site-footer .block.block-language ul.links li.is-active a.language-link {
  color: #db8899;
}

.site-footer .block.block-language ul.links li.is-active a.language-link:hover {
  color: #f7e7ea;
}

.view.search-materials .form-item.form-item-keys {
  float: none;
  clear: both;
}
