/* ---------------------------------------------------------------------------*/
/* SUBTHEME                                                                   */
/* ---------------------------------------------------------------------------*/
@charset "UTF-8";

// BASE
@import "../base/base";

@include media-breakpoint-up(xs) {
  //////////////////////////////////////////////////////////////////////////////
  // [ COMMON ]
  #menu-add {
    button a,
    ul:not(.contextual-links) a {
      // hoover effect
      &:hover:before {
        background-color: $gray-500;
      }
      // SAML login icon
      &[href*='saml_login'] {
        &:before {
          mask     : url('../icon/box-arrow-in-right.svg');
          mask-size: cover;
        }
      }
      &[href*='language'] {
        &:before {
          mask     : url('../icon/globe.svg');
          mask-size: cover;
        }
      }
      &[href*='user/logout'] {
        &:before {
          mask     : url('../icon/box-arrow-in-left.svg');
          mask-size: cover;
        }
      }
    }
    //////////////////////////////////////////////////////////////////////////////
    // [ MENU LANGUAGE ]
    .block-language {
      // dropdown
      .dropdown {
        .dropdown-menu {
          background: $gray-500;
          &:after {
            border-bottom-color: $gray-500;
          }
          //Flags
          #language-selector a,
          ul:not(.contextual-links) a {
            &[hreflang="et"] {
              background-image: url('../image/flags/Estonia.png');
            }
          }
        }
      }
    }
  }
  //////////////////////////////////////////////////////////////////////////////
  // [ BOOTSTRAP & DRUPAL LINK ICON ]
  #page-footer-sub {
    a[href="https://www.drupal.org"] {
      &:hover {
        opacity: 0.5;
        color: $white;
      }
      &:hover:after {
        background-color: $white;
      }
    }
  }
  //////////////////////////////////////////////////////////////////////////////
  // [ BOX ]
  .alert {
    &.alert-primary {
      @include alert-variant(theme-color-level("success", -10), theme-color-level("success", -9), theme-color-level("success", 6));
    }

    // [ ICON ]
    &.alert-primary:before {
      background-color: $success;
    }
  }
}

//////////////////////////////////////////////////////////////////////////////
// [ TAG CLOUDS BLOCK ]
.block {
  &.block-tagclouds-blocktags,
  &.block-listed-tagclouds-blocktags {
    word-break: break-all;

    .tagclouds-term {
      &:not(:first-child),
      &:not(:last-child) {
        margin-left: 0.2em;
      }

      a {
        &.tagclouds {
          &:hover {
            border-bottom: 2px dotted;
          }
        }
      }
    }
  }
}
//////////////////////////////////////////////////////////////////////////////
// [ NODE FORM ]
.node-form {
  .form-wrapper {
    .form-item {
      .description {
        color: $gray-500;
      }
    }
  }
}
//////////////////////////////////////////////////////////////////////////////
// [ LEGAL PAGES BLOCK ]
.legal-pages {
  a {
    &.legal-page {
      font-size: 80%;

      &:not(:first-child) {
        margin-left: 0.5em;
      }
    }
  }
}
// [ COOKIE POLICY DIALOG ]
#cookie-policy {
  &.modal {
    .modal-content {
      .modal-body {
        a {
          color: $primary;
        }
      }
    }
  }
}

.path-search {
  #page-content {
    #edit-reset {
      margin-top: -4px;
    }
  }
}

.material-search-results,
.no-material-search-results {
  margin-top: 1em;
}
