/* ---------------------------------------------------------------------------*/
/* SUBTHEME                                                                   */
/* ---------------------------------------------------------------------------*/
@charset "UTF-8";

// BASE
@import "../base/base";

@include media-breakpoint-up(xs) {
  //////////////////////////////////////////////////////////////////////////////
  // [ COMMON ]
  #menu-add {
    button a,
    ul:not(.contextual-links) a {
      // hoover effect
      &:hover:before {
        background-color: $gray-500;
      }
      // SAML login icon
      &[href*='saml_login'] {
        &:before {
          mask     : url('../icon/login.svg');
          mask-size: cover;
        }
      }
    }
    //////////////////////////////////////////////////////////////////////////////
    // [ MENU LANGUAGE ]
    .block-language {
      // dropdown
      .dropdown {
        .dropdown-menu {
          background: $gray-500;
          &:after {
            border-bottom-color: $gray-500;
          }
          //Flags
          #language-selector a,
          ul:not(.contextual-links) a {
            &[hreflang="et"] {
              background-image: url('../image/flags/Estonia.png');
            }
          }
        }
      }
    }
  }
  //////////////////////////////////////////////////////////////////////////////
  // [ BOOTSTRAP & DRUPAL LINK ICON ]
  #page-footer-sub {
    a[href="https://www.drupal.org"] {
      &:hover {
        opacity: 0.5;
        color: $white;
      }
      &:hover:after {
        background-color: $white;
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////////////
// [ TAG CLOUDS BLOCK ]
.block {
  &.block-tagclouds {
    word-break: break-all;

    .tagclouds-term {
      &:not(:first-child),
      &:not(:last-child) {
        margin-left: 0.2em;
      }

      a {
        &.tagclouds {
          &:hover {
            border-bottom: 2px dotted;
          }
        }
      }
    }
  }
}
//////////////////////////////////////////////////////////////////////////////
// [ NODE FORM ]
.node-form {
  .form-wrapper {
    .form-item {
      .description {
        color: $gray-500;
      }
    }
  }
}
